@model UKP.Website.Service.Model.EpgChannelModel

<ol class="channel-list channel-@Model.ChannelNum">
    @foreach (var item in Model.Events)
    {
        <li style="width: @item.TemplateWidth(); left: @item.TemplateLeftPosition()" data-id="@item.EventData.Id" data-epg-info="@Url.Action(MVC.Guide.EpgInfo(item.EventData.Id))" @if (@item.SmallItem()) {@Html.Raw("class=\"event\"")}>
            <div class="outer" style="width: @item.TemplateWidth()">
                <div class="inner">
                    <div class="description">
                        <h4>@item.EventData.Title</h4>
                        <p>
                            @item.EventData.Room <br />
                            @item.EventData.Room
                        </p>
                    </div>
                    <a href="#" class="info">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
            </div>
        </li>
    }
</ol>
