@using System.Web.Optimization
@using Date.Extensions
@using UKP.Website.Application
@model UKP.Website.Models.Guide.GuideViewModel

@{
    ViewBag.Title = "Guide";
}

<div class="container main-container">
    @Html.Hidden("EPGItemMinWidth", ApplicationConstants.EpgItemMinWidth)

    <div class="row">
        <div class="col-md-12 title-container">
            <header class="title-main title-guide"><h2><i class="fa fa-guide fa-lg"></i> <span>Event Guide</span></h2> <a href="@Configuration.GetRssUrl" class="rss-link pull-right hidden-xs">RSS <i class="fa fa-rss fa-2x"></i></a></header>
        </div>
        <div class="col-md-12">
            <div class="epg-outer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="jump-container">
                            <div class="date-nav" data-start-date="@Configuration.GetEpgStartDate.ToLocalTime().Date.ToISO8601String()">
                                <div class="input-group bootstrap-datepicker">
                                    <span class="date-picker">
                                        <input type="text" class="form-control hidden">
                                        <button type="button" class="input-group-addon"><i class="fa fa-calendar fa-2x"></i></button>
                                    </span>
                                    <span class="hidden-xs"><button type="button" class="btn btn-less" id="epgDateScrollLeft"><i class="fa fa-arrow-left-thin  fa-2x"></i></button></span>
                                    <span class="hidden-xs"><button type="button" class="btn btn-more" id="epgDateScrollRight"><i class="fa fa-arrow-right-thin fa-2x"></i></button></span>
                                </div>
                            </div>
                            <div class="time-nav">
                                <div class="input-group bootstrap-timepicker">
                                    <input id="epgTimepicker" type="text" class="form-control hidden">
                                    <button type="button" class="input-group-addon">
                                        <i class="fa fa-time fa-2x"></i>
                                    </button>
                                    <span class="hidden-xs"><button type="button" class="btn btn-less" id="epgTimeScrollLeft"><i class="fa fa-arrow-left-thin  fa-2x"></i></button></span>
                                    <span class="hidden-xs"><button type="button" class="btn btn-more" id="epgTimeScrollRight"><i class="fa fa-arrow-right-thin fa-2x"></i></button></span>
                                </div>
                            </div>
                        </div>
                        @Html.Partial(MVC.Guide.Views._DateTabs, Model.BaseDate)
                    </div>
                </div>
            </div>
            <div class="drag-wrap">
                <div class="stream-container-outer">
                    <div class="shadow-right">
                    </div>
                    <ol class="channels">
                        @foreach(var channel in Model.Channels)
                        {
                            <li class="channel-@channel.Name">
                                <span class="channel-name">@channel.ExternalId</span>
                                <span class="channel-number">@channel.Name</span>
                            </li>
                        }
                    </ol>
                    <div class="stream-container-inner">
                        <div class="timeline clearfix">
                            <ol class="clearfix">
                                @Html.Partial(MVC.Guide.Views._ChannelTimes)
                                @Html.Partial(MVC.Guide.Views._ChannelTimes)
                            </ol>
                        </div>
                        <div class="live-now" style="left: @Model.LivePosition()px" data-start-position="@Model.LivePosition()">
                            <div class="play-line">
                                <span></span>
                            </div>
                        </div>
                        <div class="channel-day-container" data-day-base-url="@Url.Action(MVC.Guide.EpgDay())">
                            @Html.Partial(MVC.Guide.Views._ChannelListing, Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/guideJs")
}