@model IEnumerable<UKP.Website.Service.Model.EventModel>

@if (Model.Any())
{
    <section class="section-recently-archived clearfix">
        <div class="row">
            <div class="col-md-12">
                <header class="title-middle">
                    <h2>Recently Archived</h2>
                    <button class="btn btn-lg btn-generic btn-title hidden-xs">View Archive <i class="fa fa-lg fa-angle-double-right"></i></button>
                </header>
            </div>
        </div>
        <div class="archived-wrapper">
            <a href="#" id="recentNextCommons" class="recent-next visible-lg">
                <div class="inner">
                    <p>@Model.ElementAtOrDefault(1).Title</p>
                    <i class="fa fa-arrow-scroll-right"></i>
                </div>
            </a> <a href="#" id="recentPrevCommons" class="recent-prev visible-lg">
                     <div class="inner">
                         <p>@Model.Last().Title</p>
                         <i class="fa fa-arrow-scroll-left"></i>
                     </div>
                 </a>
            <div class="archived-outer">
                <div class="archived-inner">
                    <div id="recentlyArchivedCommons" class="slider center">
                        @for (var i = 0; i < Model.Count(); i++)
                        {
                            <div class="archived-item col-md-6 col-sm-6">
                                <a href="@Url.Action(MVC.Event.Index(Model.ElementAt(i).Id))" class="clearfix">
                                    <div class="inner">
                                        <img src="@Url.Content("~/Content/img/filler-thumb-1.jpg")" alt="alt tag here" class="img-responsive"><span class="big-play fa-stack fa-lg visible-lg visible-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>
                                        <div class="overlay">
                                            <div class="overlay-inner">
                                                <span class="small-play fa-stack fa-lg hidden-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-recently-archived"></span>
                                                <h5>@Model.ElementAt(i).DisplayStartDate.ToString("dddd") <span>@Model.ElementAt(i).DisplayStartDate.ToString("d MMMM yyyy")</span> @Model.ElementAt(i).DisplayStartDate.ToString("h:mmtt")</h5>
                                                <p>@Model.ElementAt(i).Title</p>
                                                <span class="count">@(i + 1) of @Model.Count()</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button class="btn btn-lg btn-block btn-generic btn-backup visible-xs">View Archive <i class="fa fa-lg fa-angle-double-right"></i></button>
        </div>
    </section>
}