<section class="section-recently-archived clearfix">
    <div class="row">
        <div class="col-md-12">
            <header class="title-middle">
                <h2>Recently Archived</h2>
                <button class="btn btn-lg btn-generic btn-title hidden-xs">View Archive <i class="fa fa-lg fa-angle-double-right"></i></button>
            </header>
        </div>
    </div>
    <div class="archived-wrapper">
        <a href="#" id="recentNextCommons" class="recent-next visible-lg">
            <div class="inner">
                <p>Westminster Hall</p>
                <i class="fa fa-arrow-scroll-right"></i>
            </div>
        </a> <a href="#" id="recentPrevCommons" class="recent-prev visible-lg">
            <div class="inner">
                <p>Northern Ireland Affairs Committee</p>
                <i class="fa fa-arrow-scroll-left"></i>
            </div>
        </a>
        <div class="archived-outer">
            <div class="archived-inner">
                <div id="recentlyArchivedCommons" class="slider center">
                    <div class="archived-item col-md-6 col-sm-6">
                        <a href="#" class="clearfix">
                            <div class="inner">
                                <img src="@Url.Content("~/Content/img/filler-thumb-1.jpg")" alt="alt tag here" class="img-responsive"><span class="big-play fa-stack fa-lg visible-lg visible-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>
                                <div class="overlay">
                                    <div class="overlay-inner">
                                        <span class="small-play fa-stack fa-lg hidden-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-recently-archived"></span>
                                        <h5>Friday <span>4 July 2014</span> 1:00pm</h5>
                                        <p>High Speed Rail (London - West Midlands) Bill Committee, and some further text to see how much this area can take before it breaks.</p>
                                        <span class="count">1 of 10</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="archived-item col-md-6 col-sm-6">
                        <a href="#" class="clearfix">
                            <div class="inner">
                                <img src="@Url.Content("~/Content/img/filler-thumb-2.jpg")" alt="alt tag here" class="img-responsive"> <span class="big-play fa-stack fa-lg visible-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>
                                <div class="overlay">
                                    <div class="overlay-inner">
                                        <span class="small-play fa-stack fa-lg hidden-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-recently-archived"></span>
                                        <h5>Monday <span>7 July 2014</span> 1:00pm</h5>
                                        <p>Westminster Hall</p>
                                        <span class="count">2 of 10</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="archived-item col-md-6 col-sm-6">
                        <a href="#" class="clearfix">
                            <div class="inner">
                                <img src="@Url.Content("~/Content/img/filler-thumb-4.jpg")" alt="alt tag here" class="img-responsive"><span class="big-play fa-stack fa-lg visible-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>
                                <div class="overlay">
                                    <div class="overlay-inner">
                                        <span class="small-play fa-stack fa-lg hidden-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-recently-archived"></span>
                                        <h5>Tuesday <span>8 July 2014</span> 1:00pm</h5>
                                        <p>Political and Constitutional Reform Committee</p>
                                        <span class="count">3 of 10</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="archived-item col-md-6 col-sm-6">
                        <a href="#" class="clearfix">
                            <div class="inner">
                                <img src="@Url.Content("~/Content/img/filler-thumb-1.jpg")" alt="alt tag here" class="img-responsive"><span class="big-play fa-stack fa-lg visible-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>
                                <div class="overlay">
                                    <div class="overlay-inner">
                                        <span class="small-play fa-stack fa-lg hidden-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-recently-archived"></span>
                                        <h5>Wednesday <span>9 July 2014</span> 1:00pm</h5>
                                        <p>International Development Committee</p>
                                        <span class="count">4 of 10</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="archived-item col-md-6 col-sm-6">
                        <a href="#" class="clearfix">
                            <div class="inner">
                                <img src="@Url.Content("~/Content/img/filler-thumb-2.jpg")" alt="alt tag here" class="img-responsive"><span class="big-play fa-stack fa-lg visible-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>
                                <div class="overlay">
                                    <div class="overlay-inner">
                                        <span class="small-play fa-stack fa-lg hidden-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-recently-archived"></span>
                                        <h5>Thursday <span>10 July 2014</span> 1:00pm</h5>
                                        <p>High Speed Rail (London - West Midlands) Bill Committee</p>
                                        <span class="count">5 of 10</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="archived-item col-md-6 col-sm-6">
                        <a href="#" class="clearfix">
                            <div class="inner">
                                <img src="@Url.Content("~/Content/img/filler-thumb-4.jpg")" alt="alt tag here" class="img-responsive"><span class="big-play fa-stack fa-lg visible-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>
                                <div class="overlay">
                                    <div class="overlay-inner">
                                        <span class="small-play fa-stack fa-lg hidden-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-recently-archived"></span>
                                        <h5>Friday <span>11 July 2014</span> 1:00pm</h5>
                                        <p>House of Commons</p>
                                        <span class="count">6 of 10</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="archived-item col-md-6 col-sm-6">
                        <a href="#" class="clearfix">
                            <div class="inner">
                                <img src="@Url.Content("~/Content/img/filler-thumb-1.jpg")" alt="alt tag here" class="img-responsive"><span class="big-play fa-stack fa-lg visible-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>
                                <div class="overlay">
                                    <div class="overlay-inner">
                                        <span class="small-play fa-stack fa-lg hidden-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-recently-archived"></span>
                                        <h5>Monday <span>14 July 2014</span> 1:00pm</h5>
                                        <p>Communities and Local Government Committee</p>
                                        <span class="count">7 of 10</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="archived-item col-md-6 col-sm-6">
                        <a href="#" class="clearfix">
                            <div class="inner">
                                <img src="@Url.Content("~/Content/img/filler-thumb-2.jpg")" alt="alt tag here" class="img-responsive"><span class="big-play fa-stack fa-lg visible-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>
                                <div class="overlay">
                                    <div class="overlay-inner">
                                        <span class="small-play fa-stack fa-lg hidden-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-recently-archived"></span>
                                        <h5>Tuesday <span>15 July 2014</span> 1:00pm</h5>
                                        <p>Environment, Food and Rural Affairs Committee</p>
                                        <span class="count">8 of 10</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="archived-item col-md-6 col-sm-6">
                        <a href="#" class="clearfix">
                            <div class="inner">
                                <img src="@Url.Content("~/Content/img/filler-thumb-4.jpg")" alt="alt tag here" class="img-responsive"><span class="big-play fa-stack fa-lg visible-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>
                                <div class="overlay">
                                    <div class="overlay-inner">
                                        <span class="small-play fa-stack fa-lg hidden-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-recently-archived"></span>
                                        <h5>Wednesday <span>16 July 2014</span> 1:00pm</h5>
                                        <p>Defence Committee</p>
                                        <span class="count">9 of 10</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="archived-item col-md-6 col-sm-6">
                        <a href="#" class="clearfix">
                            <div class="inner">
                                <img src="@Url.Content("~/Content/img/filler-thumb-1.jpg")" alt="alt tag here" class="img-responsive"><span class="big-play fa-stack fa-lg visible-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>
                                <div class="overlay">
                                    <div class="overlay-inner">
                                        <span class="small-play fa-stack fa-lg hidden-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-recently-archived"></span>
                                        <h5>Thursday <span>17 July 2014</span> 1:00pm</h5>
                                        <p>Northern Ireland Affairs Committee</p>
                                        <span class="count">10 of 10</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <button class="btn btn-lg btn-block btn-generic btn-backup visible-xs">View Archive <i class="fa fa-lg fa-angle-double-right"></i></button>
    </div>
</section>