@model UKP.Website.Service.Model.NowAndNextModel

<div class="row">
    <div class="col-md-12">
        <header class="title-main">
            @if (Model.AllLive)
            {
                <h2><i class="fa fa-now fa-lg"></i> <span>Now</span></h2>
            }
            else if (Model.HasLive)
            {
                <h2><i class="fa fa-now fa-lg"></i> <span>Now & Next</span></h2>
            }
            else if (Model.Events.Any())
            {
                <h2><i class="fa fa-now fa-lg"></i> <span>Coming Up</span></h2>
            }
            else
            {
                <h2><i class="fa fa-now fa-lg"></i> <span></span></h2>
            }
            <a href="#" class="rss-link pull-right hidden-xs">RSS <i class="fa fa-rss fa-2x"></i></a>
        </header>
    </div>
</div>

<!--START:TAB SELECT-->
<div class="visible-xs clearfix">
    <select class="selectpicker select-home-tabs">
        <option value="0" class="select-commons" data-icon="" data-url="@Url.Action(MVC.Home.Commons(), Request.Url.Scheme)">House of Commons</option>
        <option value="1" class="select-lords" data-icon="" data-url="@Url.Action(MVC.Home.Lords(), Request.Url.Scheme)">House of Lords</option>
        <option value="2" class="select-committees" data-icon="" data-url="@Url.Action(MVC.Home.Committees(), Request.Url.Scheme)">All Committees</option>
    </select>
</div>
<!--END:TABS SELECT-->
<!--START:TABS-->
<ul class="nav nav-tabs home-nav-tabs row-no-padding hidden-xs" role="tablist">
    <li class="col-md-4 col-sm-4 tab-commons @if (Url.Action() == Url.Action(MVC.Home.Commons())) { @Html.Raw("active") } ">
        <a href="@Url.Action(MVC.Home.Commons())">
            House of Commons
            <hr />
        </a>
    </li>
    <li class="col-md-4 col-sm-4 tab-lords @if (Url.Action() == Url.Action(MVC.Home.Lords())) { @Html.Raw("active") }">
        <a href="@Url.Action(MVC.Home.Lords())">
            House of Lords
            <hr />
        </a>
    </li>
    <li class="col-md-4 col-sm-4 tab-committees @if (Url.Action() == Url.Action(MVC.Home.Committees())) { @Html.Raw("active") }">
        <a href="@Url.Action(MVC.Home.Committees())">
            All Committees
            <hr />
        </a>
    </li>
</ul>
<!--END:TABS-->
