@using UKP.Website.Application
@model UKP.Website.Models.HomeViewsModel

<div class="row">
    <div class="col-md-12">
        @if (DateTime.Now.Date <= Model.RecessMessage.ExpirationDate.ToLocalTime().Date)
        {
            <div class="alert alert-parliament fade in" role="alert">
                <span class="vr-alert-parliament"></span>
                <div class="alert-inner clearfix">
                    <div class="gate-logo">
                        <i class="fa fa-gate fa-4x"></i>
                    </div>
                    <div class="recess-text">
                        <h2>@Model.RecessMessage.Message</h2>
                        <h3>Returns on @Model.RecessMessage.ExpirationDate.ToLocalTime().ToString("d MMMM yyyy")</h3>
                    </div>
                </div>
            </div>
        }

        <header class="title-main">
            @if (Model.NowNext.AllLive)
            {
                <h2><i class="fa fa-now fa-lg"></i> <span>Now</span></h2>
            }
            else if (Model.NowNext.HasLive)
            {
                <h2><i class="fa fa-now fa-lg"></i> <span>Now & Next</span></h2>
            }
            else if (Model.NowNext.Events.Any())
            {
                <h2><i class="fa fa-now fa-lg"></i> <span>Coming Up</span></h2>
            }
            else
            {
                <h2><i class="fa fa-now fa-lg"></i> <span></span></h2>
            }
            <a href="@Configuration.GetRssUrl" target="_blank" class="rss-link pull-right hidden-xs">RSS <i class="fa fa-rss fa-2x"></i></a>
        </header>
    </div>
</div>

<!--START:TAB SELECT-->
<div class="visible-xs clearfix">
    <select class="selectpicker select-home-tabs">
        <option value="0" class="select-commons" data-icon="" data-url="@Url.ActionAbsolute(MVC.Home.Commons())">House of Commons</option>
        <option value="1" class="select-lords" data-icon="" data-url="@Url.ActionAbsolute(MVC.Home.Lords())">House of Lords</option>
        <option value="2" class="select-committees" data-icon="" data-url="@Url.ActionAbsolute(MVC.Home.Committees())">All Committees</option>
    </select>
</div>
<!--END:TABS SELECT-->
<!--START:TABS-->
<ul class="nav nav-tabs home-nav-tabs row-no-padding hidden-xs" role="tablist">
    <li class="col-md-4 col-sm-4 tab-commons @Html.IsActiveRoute(MVC.Home.Commons())">
        <a href="@Url.Action(MVC.Home.Commons())">
            House of Commons
            <hr />
        </a>
    </li>
    <li class="col-md-4 col-sm-4 tab-lords @Html.IsActiveRoute(MVC.Home.Lords())">
        <a href="@Url.Action(MVC.Home.Lords())">
            House of Lords
            <hr />
        </a>
    </li>
    <li class="col-md-4 col-sm-4 tab-committees @Html.IsActiveRoute(MVC.Home.Committees())">
        <a href="@Url.Action(MVC.Home.Committees())">
            All Committees
            <hr />
        </a>
    </li>
</ul>
<!--END:TABS-->
