@using Date.Extensions
@using UKP.Website.Service.Model
@model VideoModel

@if (Model.Event.PublishedStartTime.HasValue
                     && Model.Event.States.PlanningState != PlanningEventState.STOP_DVR
                     && (Model.Event.States.PlayerState == PlayerEventState.ARCHIVE
                         || Model.Event.States.PlayerState == PlayerEventState.LIVE))
{
    //todo fix issue with times being slightly out of sync
    var startTime = Model.RequestedInPoint ?? Model.Event.PublishedStartTime.Value.AddSeconds(1);
    var endTime = Model.Event.ActualEndTime ?? Model.Event.PublishedStartTime.Value.AddSeconds(2);

    if (Model.RequestedOutPoint.HasValue)
    {
        endTime = Model.RequestedOutPoint.Value;
    }

    <form id="createDownloadForm">
        @Html.Hidden("EventId", Model.Event.Id)
        @Html.Hidden("StartTime", startTime.ToISO8601String())
        @Html.Hidden("EndTime", endTime.ToISO8601String())
        @Html.Hidden("EmailAddress", "")
        @Html.Hidden("AudioOnly", false)
        @Html.Hidden("StreamUrl")
    </form>
}