@using UKP.Website.Application
@using UKP.Website.Service.Model
@model VideoModel

<header class="col-md-10">
    <h3>@Model.Event.Title</h3>
    <h4>
        <i class="fa fa-vod-badge fa-2x state-badge-sm hidden-lg hidden-md pending-badge"></i>

        @if(Model.Event.States.PlayerState == PlayerEventState.PRELIVE)
        {
            <span><strong>@Model.Event.DisplayStartDate.ToLocalTime().ToString(ApplicationConstants.YearDateFormat)</strong> Meeting starts at @Model.Event.DisplayStartDate.ToLocalTime().ToString("h.mmtt")</span>
        }
        else
        {
            if(Model.Event.DisplayStartDate.ToLocalTime().Date == Model.Event.DisplayEndDate.ToLocalTime().Date)
            {
                <span>
                    <strong>@Model.Event.DisplayStartDate.ToLocalTime().ToString(ApplicationConstants.YearDateFormat)</strong> Meeting started at @Model.Event.DisplayStartDate.ToLocalTime().ToString("h.mmtt")

                    @if(Model.Event.ActualEndTime.HasValue)
                    {
                        <text>, ended @Model.Event.DisplayEndDate.ToLocalTime().ToString("h.mmtt")</text>

                    }
                </span>
            }
            else
            {
                <span>
                    <strong>@Model.Event.DisplayStartDate.ToLocalTime().ToString(ApplicationConstants.YearDateFormat)</strong> Meeting started at @Model.Event.DisplayStartDate.ToLocalTime().ToString("h.mmtt")

                    @if(Model.Event.ActualEndTime.HasValue)
                    {
                        <text>, ended @Model.Event.DisplayEndDate.ToLocalTime().ToString(ApplicationConstants.YearDateTimeFormat)</text>

                    }
                </span>
            }
        }
    </h4>
</header>

<div class="col-md-2">
    @if(Model.Event.States.PlayerState == PlayerEventState.LIVE)
    {
        if(Model.Event.ActualEndTime.HasValue)
        {
            <span class="state-badge pending-badge visible-lg visible-md">Archive</span>
        }
        else
        {
            <span class="state-badge pending-badge visible-lg visible-md">Live</span>
        }
    }
    else if(Model.Event.States.PlayerState == PlayerEventState.ARCHIVE)
    {
        <span class="state-badge pending-badge visible-lg visible-md">Archive</span>
    }
</div>