@model UKP.Website.Models.Event.EventViewModel

<div class="tab-pane fade in active" id="info">
    <dl class="description">
        <a href="#" class="close-pane close-info hidden">close</a>
        <dt>Channel:</dt>
        <dd>@Model.VideoModel.Event.ChannelName</dd>
        <hr />
        <dt>House:</dt>
        <dd>@Model.VideoModel.Event.House</dd>
        <hr />
        <dt>Location:</dt>
        <dd>@Model.VideoModel.Event.Room</dd>
        <hr />
        <dt>Event Type:</dt>
        <dd>@Model.VideoModel.Event.EventType</dd>
        <hr />
        <dt>Production:</dt>
        <dd>@Model.VideoModel.Event.ProductionSource</dd>
    </dl>
</div>