@using Date.Extensions
@using UKP.Website.Service.Model
@model LogMomentResultModel
@foreach (var log in Model.Results)
{
    <li class="">
        <article>
            <span class="vr-stack"></span>
            <button type="button" class="btn btn-moment-expand" data-toggle="collapse" data-target="#@log.Id"><span class="sr-only"></span> <i class="fa fa-plus fa-lg"></i></button>
            <header class="stack-item stack-parent log-moment">
                <a href="#">
                    <h4>
                        @log.Title
                    </h4>
                </a>
            </header>
            <div id="@log.Id" class="collapse">
                <hr />
                <div class="stack-item">
                    <h5><i class="fa fa-circle"></i> <strong>Time Code:</strong><span class="time-code" data-time="@log.InPoint.ToISO8601String()"> @log.InPoint.ToLocalTime().ToString("T")</span></h5>

                    <h5><i class="fa fa-circle"></i> <strong>Member:</strong> @log.Member</h5>
                </div>
            </div>
        </article>
    </li>
}