@using Date.Extensions
@using UKP.Website.Application
@model UKP.Website.Models.Event.EventViewModel

<div class="tab-pane fade" id="share" data-url="@Url.Action(MVC.Event.GetShareVideo())">
@*<form role="form">
        <a href="#" class="close-pane close-share hidden">close</a>
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Share</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="share-container">
                            <a href="@Configuration.GetShareFacebook" data-share-url="@Configuration.GetShareFacebook" class="btn-facebook" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                            <a href="@Configuration.GetShareTwitter" data-share-url="@Configuration.GetShareTwitter" class="btn-twitter" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                            <a href="@Configuration.GetShareGooglePlus" data-share-url="@Configuration.GetShareGooglePlus" class="btn-google" target="_blank"><i class="fa fa-google fa-2x"></i></a>
                            <a href="@Configuration.GetShareLinkedIn" data-share-url="@Configuration.GetShareLinkedIn" class="btn-linkedin" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <label for="smallUrl"><h4>Small Url</h4></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <div class="form-group has-copy small-url">
                                <input type="text" class="form-control input-lg" id="smallUrl" value="" spellcheck="false">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <label for="url"><h4>Url</h4></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group has-copy url">
                            <input type="text" class="form-control input-lg" id="url" value="" spellcheck="false">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="clippingContainer" data-load-url="@Url.Action(MVC.Event.Clipping(Model.VideoModel.Event.Id, Model.VideoModel.RequestedInPoint.ToISO8601String(), Model.VideoModel.RequestedOutPoint.ToISO8601String()))">
        </div>

        <div class="row embed-terms">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <label for="embed"><h4>Embed</h4></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group has-copy embed">
                            <p>Please read and agree to the following terms and conditions before continuing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row embed-terms">
            <div class="col-md-12">
                <div class="tc-box-container">
                    <div class="tc-box clearfix">
                        <h5>UK Parliament Embedding Terms of Use</h5>

                        <p>UK Parliament permits you to embed its video and audio material on your website as long as you agree to various conditions (see below). Please note:</p>

                        <ul>
                            <li>This is for use on not for profit websites</li>
                            <li>Only the supplied code can be used</li>
                            <li>The video or audio of the recordings cannot be edited in any way</li>
                            <li>UK Parliament can remove the recording without notice</li>
                            <li>UK Parliament makes this recording available at your own risk</li>
                            <li>The Recordings cannot be placed on sites that contain illegal or offensive material</li>
                            <li>The Recordings cannot be placed on certain sites that contain advertising</li>
                            <li>The embedding of UK Parliament recordings is not a UK Parliament endorsement of your website</li>
                            <li>UK Parliament Embedded Recording Licence Terms</li>
                        </ul>

                        <h5>UK Parliament Embedded Recording Licence Terms</h5>

                        <p>By embedding UK Parliament Recordings on your website ("Site") you agree to the terms set out below.</p>


                        <h5>1. Licence</h5>

                        <p>1.1 Subject to these Licence Terms UK Parliament grants you a non-exclusive licence to display on your Site recordings of UK Parliament Proceedings.</p>
                        <p>1.2 All rights including intellectual property rights shall remain the property and copyright of UK Parliament.</p>


                        <h5>2. Use of UK Parliament Recordings</h5>

                        <p>
                            2.1 You may only embed UK Parliament Recordings on websites that are not excluded by UK Parliament. The categories of website that are excluded are set out below. Sites that:
                            Advertise or Promote Commercial activity
                            Promote, encourage or facilitate illegal activity
                            Encourage hatred on grounds of race, religion, gender, disability, age or sexual orientation or promote, encourage or facilitate anti-social behaviour
                            Lower the dignity of either House or that of individual members.
                        </p>
                        <p>2.2 Unless expressly permitted by UK Parliament in writing, the recordings are for not for profit use only and may not be used for corporate, commercial or professional purposes. Whilst you may use the recording on an ad-enabled blog or website, you may not charge users to view the recording.</p>
                        <p>2.3 There should be no advertising displayed on the same screen as the embedded video recording comprising the Services where that video recording represents the majority of the content on any page of the website or where the page would not exist without the video recording. In other cases, advertising may be permitted, but not where there is any connection between the advertising and the video recording;</p>
                        <p>2.4 You may not alter or add to the UK Parliament Recording in any way, nor combine the UK Parliament Recording with any other material.</p>
                        <p>2.5 You may not suggest any endorsement or approval by the UK Parliament or any individual Member of your Site</p>
                        <p>2.6 You may not use the UK Parliament Recordings in any way that could bring the UK Parliament or any individual Member into disrepute.</p>
                        <p>2.7 You accept and agree that UK Parliament has sole editorial control over all UK Parliament Recordings at all times and it may change or remove any recording at its sole discretion.</p>


                        <h5>3. Warranties &amp; Liability</h5>

                        <p>3.1 You warrant that your Site fully complies with all applicable laws and regulations.</p>
                        <p>3.2 The UK Parliament Recordings are made available on an "as is" and "as available" basis and UK Parliament gives no warranty of any kind in relation to the availability and use of the Recordings</p>
                        <p>3.3 The UK Parliament has taken reasonable care to ensure that the recording and any related software code contains no errors, viruses or defects, however UK Parliament does not warrant that this is the case. You use the UK Parliament recording at your own discretion and risk and you are advised to take all reasonable precautions to protect your computer from virus infection.</p>
                        <p>3.4 UK Parliament will not be liable for any loss or damage which you may suffer as a result of, or connected to your use of the UK Parliament recording.</p>
                        <p>3.5 Each provision of this Clause 3 operates separately in itself and survives independently of the others.</p>


                        <h5>4. Indemnity</h5>

                        <p>4.1 In the event that a third party commences legal proceedings against the UK Parliament as a result of your use of the UK Parliament Recording in breach of these Licence Terms you agree to indemnify UK Parliament in respect of any and all damages, costs and expenses, including reasonable legal fees and litigation expenses, UK Parliament suffers or incurs as a result of such action.</p>


                        <h5>5. Termination</h5>

                        <p>5.1 The UK Parliament may restrict, suspend or terminate any or all UK Parliament recordings or your access to the recordings at any time at its sole discretion without liability.</p>
                        <p>5.2 Clauses 3, 4, 5 and 6 shall survive termination of this Agreement.</p>

                        <h5>6. General</h5>

                        <p>6.1 You may not transfer or sublicense any of your rights or obligations under the Licence Terms to any third party.</p>
                        <p>6.2 This Agreement shall be interpreted in accordance with English Law and subject to the exclusive jurisdiction of the Courts of England and Wales</p>
                        <p>6.3 Any failure or delay by the UK Parliament in exercising its rights under these Licence Terms shall not be construed as a waiver of those rights.</p>
                        <p>Please press the button to agree to terms and get your embed code:</p>


                        <button class="btn btn-generic btn-agree hidden-xs"><i class="fa fa-tick fa-lg"></i>I agree to these terms &amp; conditions.</button>
                        <button class="btn btn-generic btn-agree visible-xs btn-block"><i class="fa fa-tick fa-lg"></i>I agree to these t's &amp; c's</button>

                    </div>
                </div>
            </div>
        </div>


        <div class="row embed-code">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <label for="embed"><h4>Embed</h4></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group has-copy embed">
                            <textarea class="form-control input-lg" rows="4" id="embed" spellcheck="false"></textarea>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </form>*@
<form role="form">
    <a href="#" class="close-pane close-share hidden">close</a>
    <div id="clippingContainer" data-load-url="@Url.Action(MVC.Event.Clipping(Model.VideoModel.Event.Id, Model.VideoModel.RequestedInPoint.ToISO8601String(), Model.VideoModel.RequestedOutPoint.ToISO8601String()))">
        <input id="AllowClippingRefresh" name="AllowClippingRefresh" type="hidden" value="False">
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-push-6">
            <div class="row">
                <div class="col-md-12">
                    <h4>Share</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="share-container">
                        <a href="@Configuration.GetShareFacebook" data-share-url="@Configuration.GetShareFacebook" class="btn-facebook" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                        <a href="@Configuration.GetShareTwitter" data-share-url="@Configuration.GetShareTwitter" class="btn-twitter" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                        <a href="@Configuration.GetShareGooglePlus" data-share-url="@Configuration.GetShareGooglePlus" class="btn-google" target="_blank"><i class="fa fa-google fa-2x"></i></a>
                        <a href="@Configuration.GetShareLinkedIn" data-share-url="@Configuration.GetShareLinkedIn" class="btn-linkedin" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6">
            <div class="row">
                <div class="col-md-12">
                    <label for="smallUrl"><h4>Small Url</h4></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <div class="form-group has-copy small-url">
                            <input type="text" class="form-control input-lg" id="smallUrl" value="" spellcheck="false">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <label for="url"><h4>Url</h4></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group has-copy url">
                        <input type="text" class="form-control input-lg" id="url" value="" spellcheck="false">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row terms">
        <div class="col-md-12">
            <label for="embed"><h4>Embed</h4></label>
        </div>
        <div class="col-md-12">
            <p>Please read and agree to the following terms and conditions before continuing.</p>
        </div>
        <div class="col-md-12">
            <div class="tc-box-container">
                <div class="tc-box clearfix">
                    <p>The use of Parliamentlive.tv and all interactive download features is subject to specific and detailed <a href="http://www.parliament.uk/site-information/using-this-website/privacy-policy/" target="_blank">Terms and Conditions.</a></p>
                    <p>By clicking continue you acknowledge that you have read and understood these Terms and Conditions, accept these Terms and Conditions and agree to be bound by them.</p>
                    <p>We draw your attention to this content being subject to Conditions of Use, specific to UK Parliament and we retain the right and privilege to find users in contempt of Parliament if a reproduction or use is in breach of the Conditions of Use.</p>
                    <div class="custom-checkbox">
                        <input type="checkbox" name="acceptance" class="acceptance" id="shareAcceptance" data-continue-id="shareContinue" value="1"/>
                        <label for="shareAcceptance"> 
                            <span class="hidden-xs">I have read and agree to the above terms and conditions</span>
                            <span class="visible-xs">I have read and agree to the above t's &amp; c's</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button class="btn btn-generic btn-black btn-wide continue" id="shareContinue" type="button" disabled>Continue</button>
        </div>
    </div>
    <div class="row embed-code">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <label for="embed"><h4>Embed</h4></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group has-copy embed">
                        <textarea class="form-control input-lg" rows="4" id="embed" spellcheck="false"></textarea>
                        <p id="responseMsg" class="response-message"></p>
                        <i class="fa fa-clipboard fa-lg"></i>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</form>
<hr>
<p class="further-info">You can find out more information and instructions on our <a href="@Configuration.UKPHelpUrl"><i class="fa fa-external"></i>Help page.</a></p>
</div> 