@using UKP.Website.Application
@model UKP.Website.Models.Search.SearchViewModel


<div class="container main-container">
    <div class="row">
        <div class="col-md-12">
            <header class="title-main title-search"><h2><i class="fa fa-search"></i> <span>Search</span></h2><a href="@Configuration.GetRssUrl" target="_blank" class="rss-link pull-right hidden-xs">RSS <i class="fa fa-rss fa-2x"></i></a></header>
        </div>
        <div class="col-md-12">
            <button type="button" class="btn btn-default btn-go btn-lg btn-search-panel btn-block visible-xs" data-toggle="collapse" data-target="#searchPanel">
                Search now <i class="fa fa-plus"></i>
            </button>
        </div>
        <div id="searchPanel" class="collapse in">
            <div class="col-md-12 page-title-bar">
                <header>
                    <h3>Enter a Keyword and use the other fields to refine the results if required:</h3>
                </header>
            </div>
            @using(Html.BeginForm(MVC.Search.Index(), FormMethod.Get))
            {
                <div class="col-md-12">
                    <div class="row">
                        @Html.ValidationSummary()
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group search-param">
                                <label for="Keywords"><h4>1. Keywords</h4></label>
                                @Html.TextBoxFor(x => x.Keywords, new { @class = "form-control input-lg" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group search-param">
                                <label for="Member"><h4>2. Member</h4></label>
                                @Html.TextBoxFor(x => x.Member, new { data_ajax_url= Configuration.GetMemberAutocompleteApi, @class="form-control input-lg" })
                                @Html.HiddenFor(x => x.MemberId, new { @class = "form-control input-lg" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group search-param">
                                <label for="House"><h4>3. House</h4></label>
                                <div>
                                    @Html.DropDownListFor(x => x.House, Model.HouseTags, "No house selected", new { @class="multiselect-list" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group search-param">
                                <label for="Business"><h4>4. Business</h4></label>
                                <div>
                                    @Html.DropDownListFor(x => x.Business, Model.BusinessTags, "No business selected", new { @class="multiselect-list" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group search-param">
                                <label for="Start"><h4>5. Start Date</h4></label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-calendar fa-2x"></i></div>
                                    @Html.TextBoxFor(x => x.Start, Model.Start.ToLocalTime().ToString("dd/MM/yyyy"), new { @class = "form-control start-date date-picker input-lg", data_date_format="dd/mm/yyyy" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group search-param">
                                <label for="End"><h4>6. End Date</h4></label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-calendar fa-2x"></i></div>
                                    @Html.TextBoxFor(x => x.End, Model.End.ToLocalTime().ToString("dd/MM/yyyy"), new { @class = "form-control end-date date-picker input-lg", data_date_format="dd/mm/yyyy" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="selectedTags">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-default btn-go btn-lg">Search <i class="fa fa-arrow-right-thin fa-lg"></i></button>
                    </div>
                </div>
            }
        </div>

        <div class="col-md-12 page-filter-bar">
            <div class="row">
                <div class="col-md-10">
                    <h4>

                        @if(Model.SearchResult.TotalCount == 1)
                        {
                            <strong>@Model.SearchResult.TotalCount Search Result for:</strong>
                        }
                        else if(Model.SearchResult.TotalCount > 0)
                        {
                            <strong>@Model.SearchResult.TotalCount Search Results for:</strong>
                        }
                        else
                        {
                            <strong>No Search Results found.</strong>
                        }

                        @if(Model.SearchResult.TotalCount > 0)
                        {
                            @Model.Keywords
                        }
                    </h4>
                </div>
            </div>
            <hr />
        </div>

        <div id="searchResultsContainer">
            @Html.Partial(MVC.Search.Views._SearchEvent, Model)
        </div>
    </div>
</div>

@section scripts {
    <script src="@Url.Content("~/Content/js/search.js")"></script>
}